@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    @apply font-exo;
  }

  .custom-toast {
    background-color: #111827; /* bg-gray-900 equivalent */
  }

  .toastify-toast-success {
    background-color: #104dc6; /* bg-gray-900 equivalent */
  }
  
  
  .custom-toast .toastify-icon {
    color: #2d30d7 !important; /* Blue color for the tick */
  }
  
  @keyframes ping-slow {
    0%, 100% {
      transform: scale(1);
      opacity: 0.7;
    }
    50% {
      transform: scale(1.5);
      opacity: 0.3;
    }
  }
  
  @keyframes smoke {
    0% {
      transform: translateY(0) scale(1);
      opacity: 0.6;
    }
    50% {
      transform: translateY(-20px) scale(1.2);
      opacity: 0.4;
    }
    100% {
      transform: translateY(-40px) scale(1.5);
      opacity: 0;
    }
  }
  
  .animate-ping-slow {
    animation: ping-slow 2.5s infinite;
  }
  
  .animate-smoke {
    animation: smoke 3s infinite;
  }
  